body {
  background-color: lightblue;
}

h1 {
  color: white;
  font-family: verdana;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
a {
  font-family: verdana;
  font-size: 20px;    
}
h2 {
    font-family: verdana;
    font-size: 20px;
    text-align:center
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}